<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet " href="../css/public.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">

    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
    <title>Title</title>
</head>
<style type="text/css">
    h2 {
        margin: 0 auto;
        text-align: center;
    }

    table {
        border-collapse: collapse;
        text-align: center;
        margin: 0 auto;
    }

    table span {
        /*display: inline-block;*/
        width: 200px;
        text-align: left;
    }

</style>
<body>
<a class="layui-btn layui-btn-radius " style="margin-left: 20px;margin-top: 10px" href="/tomymessage">返回</a>

<h2>固定资产领用申请表</h2>
<!--<form class="layui-form" method="post" >-->
<div style="width:700px;margin:0 auto;margin-top: 10px">
    <span style="font-size: larger">领用单号:</span><span name="fixedTransferId2" style="font-size: larger"
                                                      th:text="${ft.fixedTransferId2}"></span>
</div>
</h2>

<table border="1">
    <tr>
        <input type="hidden" id="fixedcardId1" name="fixedcardId1" th:value="${ft.fixedcard.fixedcardId}">
        <input type="hidden" id="ft1" name="ft1" th:value="${ft.fixedTransferId}">
        <input type="hidden" name="personcharge" th:value="${ft.fixedcard.personCharge}">
        <input type="hidden" id="newRecordNode" name="newRecordNode" th:value="${ncrs.checkNodeId}">
        <input type="hidden" id="messId" name="messId" th:value="${messId}">
        <input type="hidden" id="useManId" name="useManId" th:value="${ft.useManId}">

        <td width="140" height="70;" align="center">固定资产编号</td>
        <td width="200" colspan="3"><span th:text="${ft.fixedcard.fixedId}"></span> </td>
        <td width="140" height="70;" align="center">固定资产名称</td>
        <td width="200" colspan="3"><span th:text="${ft.fixedcard.fixedName}"></span> </td>
    </tr>
    <tr>
        <td width="140" height="70;" align="center">固定资产类别</td>
        <td width="200" colspan="3"><span th:text="${ftname}"></span> </td>
        <td width="140" height="70;" align="center">购置日期</td>
        <td width="200" colspan="3"><span
                th:text="${#dates.format(ft.fixedcard.acquisitionDate,'yyyy-MM-dd')}"></span></td>
    </tr>
    <tr>
        <td width="140" height="70;" align="center">固定资产规格</td>
        <td width="200" colspan="3"><span th:text="${ft.fixedcard.fixedScale}"></span> </td>
        <td width="140" height="70;" align="center">供应商</td>
        <td width="200" colspan="3"><span th:text="${ft.fixedcard.supplier}"></span> </td>
    </tr>
    <tr>
        <td width="140" height="70;" align="center">领用部门</td>
        <td width="200" colspan="3"><span th:text="${ft.departmentName}"></span> </td>
        <td width="140" height="70;" align="center">领用人</td>
        <td width="200" colspan="3"><span th:text="${ft.useMan}"></span>  </td>
    </tr>
    <tr>
        <td width="140" height="70;" align="center"><i style="color: red">*</i>使用地点</td>
        <td width="200" colspan="3"><input name="usePosition" style="border: none" th:value="${ft.usePosition}"
                                           readonly> 
        </td>
        <td width="140" height="70;" align="center"><i style="color: red">*</i>领用时间</td>
        <td width="200" colspan="3"><input name="fixedTransferTime" th:value="${ft.fixedTransferTime}"
                                           style="border: none" readonly></td>
    </tr>
    <tr>
        <td width="140" height="70;" align="center">领用备注</td>
        <span th:switch="${ncrs.checkNodeId}">
                <span th:case="5">
                    <td width="200" colspan="4" style="text-align: left">
                        <input name="transferRemark" style="border: none;margin-left: 5%;width: 90%;height: 30%"
                               th:value="${ft.transferRemark}" readonly> 
                    </td>
                    <td colspan="2">
                        <button id="read1" class="layui-btn layui-btn ">已阅</button>
                    </td>
                </span>
                <span th:case="6">
                     <td width="200" colspan="4" style="text-align: left">
                                <input name="transferRemark" style="border: none;margin-left: 5%;width: 90%;height: 30%"
                                       th:value="${ft.transferRemark}" readonly> 
                            </td>
                     <td colspan="2">
                                <button id="read2" class="layui-btn layui-btn ">已阅
                                </button>
                            </td>

                </span>
                <span th:case="9">
                <td width="200" colspan="4" style="text-align: left">
            <input name="transferRemark" style="border: none;margin-left: 5%;width: 90%;height: 30%"
                   th:value="${ft.transferRemark}" readonly> 
        </td>
                <td colspan="2">
            <button id="read3" class="layui-btn layui-btn ">已阅</button>
        </td>

                </span>
                <span th:case="*">
                <td width="200" colspan="6" style="text-align: left">
            <input name="transferRemark" style="border: none;margin-left: 5%;width: 90%;height: 30%"
                   th:value="${ft.transferRemark}" readonly> 
        </td>


                </span>
            </span>


    </tr>
    <tr>
        <td height="30;" colspan="6" align="center">审批签署</td>
    </tr>
    <tr>
        <td width="140" height="35;" align="center">当前资产负责人</td>
        <td width="200" colspan="3">
            <span th:text="${ft.personCharge}"></span>
        </td>
        <td width="140" height="35;" align="center">当前资产分管领导人</td>
        <td width="200" colspan="3">
            <span th:text="${ft.departmentManager}"></span>
        </td>
    </tr>
    <tr>
        <td width="140" height="35;" align="center">审核结果</td>
        <td width="200" colspan="3">
            <span th:switch="${ncrs.checkNodeId}">
                <span th:case="1">
                    <span>
                        <span>
                            <button id="agree1" class="layui-btn layui-btn-xs">通过</button>
                        </span>
                        <span>
                            <button class="layui-btn layui-btn-xs" id="agree5">不通过</button>
                        </span>
                    </span>
                </span>
                <span th:case="5">负责人审核未通过</span>
                <span th:case="9">流程中断</span>
                <span th:case="*">负责人审核通过</span>
            </span>
        </td>
        <td width="140" height="35;" align="center">审核结果</td>
        <td width="200" colspan="3">
            <span th:switch="${ncrs.checkNodeId}">
                <span th:case="1">待审核</span>
                <span th:case="2">
                    <span><span><button class="layui-btn layui-btn-xs" id="agree2">通过</button></span>
                    <span><button class="layui-btn layui-btn-xs" id="agree6">不通过</button></span></span>
                </span>
                <span th:case="3">分管领导审核通过</span>
                <span th:case="5">待审核</span>
                <span th:case="6">分管领导审核未通过</span>
                <span th:case="9">流程中断</span>
                <span th:case="*">负责人审核通过</span>
            </span>
        </td>
    </tr>
    <tr>
        <td width="140" height="35;" align="center">审核备注</td>
        <td width="200" colspan="3">
              <span th:switch="${ncrs.checkNodeId}">
                    <span th:case="1">
                        <input id="remark1" name="remark1" style="border: none;margin-left: 5%;width: 90%;height: 30%"/>
                    </span>
                    <span th:case="*">
                        <span></span>
                    </span>
              </span>
        </td>
        <td width="140" height="35;" align="center">审核备注</td>
        <td width="200" colspan="3">
               <span th:switch="${ncrs.checkNodeId}">
                    <span th:case="2">
                        <input name="transferRemark" style="border: none;margin-left: 5%;width: 90%;height: 30%">
                    </span>
                    <span th:case="*">
                        <span></span>
                    </span>
              </span>

        </td>
    </tr>
    <tr>
        <td height="30;" colspan="6" align="center">领用发放</td>
    </tr>
    <tr>
        <td width="140" height="35;" align="center">当前资产负责人</td>
        <td width="200" colspan="3">
            <span th:text="${ft.personCharge}"></span>
        </td>
        <td width="140" height="35;" align="center">领用人</td>
        <td width="200" colspan="3">
            <span id="usePerson" th:text="${ft.useMan}"></span>
        </td>
    </tr>
    <tr>
        <td width="140" height="35;" align="center">发放结果</td>
        <td width="200" colspan="3">
                  <span th:switch="${ncrs.checkNodeId}">
                <span th:case="1">待审核</span>
                <span th:case="2">待审核</span>
                <span th:case="3">
                    <span>
                        <span><button class="layui-btn layui-btn-xs" id="agree3">已发放</button></span>
                        <span><button class="layui-btn layui-btn-xs" id="agree7">中断</button></span>
                    </span>
                </span>
                <span th:case="5">待审核</span>
                <span th:case="6">待审核</span>
                <span th:case="9">流程中断</span>
                <span th:case="*">资产已发放</span>
            </span>
        </td>
        <td width="140" height="35;" align="center">接收结果</td>
        <td width="200" colspan="3">
                <span th:switch="${ncrs.checkNodeId}">
                    <span th:case="7">
                        <span><span><button class="layui-btn layui-btn-xs" id="agree4">已领取</button></span>
                        <span><button class="layui-btn layui-btn-xs" id="agree8">中断</button></span></span>
                    </span>
                    <span th:case="8">资产已领取</span>
                    <span th:case="9">流程中断</span>
                    <span th:case="*">待审核</span>
                </span>
        </td>
    </tr>
    <tr>
        <td width="140" height="35;" align="center">发放备注</td>
        <td width="200" colspan="3">
                <span th:switch="${ncrs.checkNodeId}">
                    <span th:case="3">
                        <input name="transferRemark" style="border: none;margin-left: 5%;width: 90%;height: 30%">
                    </span>
                    <span th:case="*">
                        <span></span>
                    </span>
              </span>
        </td>
        <td width="140" height="35;" align="center">领用备注</td>
        <td width="200" colspan="3">
                <span th:switch="${ncrs.checkNodeId}">
                    <span th:case="7">
                        <input name="transferRemark" style="border: none;margin-left: 5%;width: 90%;height: 30%">
                    </span>
                    <span th:case="*">
                        <span></span>
                    </span>
              </span>
        </td>
    </tr>
</table>
<!--</form>-->
<script src="../layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../jquery-3.4.1.min.js" type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">

    // function checkSub() {
    //     var msg = "是否提交申请?"
    //     if (confirm(msg) == true) {
    //         //获取当前iframe页面索引
    //         var currIframe = parent.layer.getFrameIndex(window.name);
    //         parent.layer.close(currIframe);
    //         window.parent.location.reload();
    //         return true;
    //     } else {
    //         return false;
    //     }
    // }

    var messid = $("#messId").val();
    var remark1 = $("#remark1").val();
    var fixedcardId1 = $("#fixedcardId1").val();
    var newRecordNode = $("#newRecordNode").val();
    var ft1 = $("#ft1").val();
    var useManId = $("#useManId").val();

    function agreeApply() {
        $.ajax(
            {
                url: '/applyAgree',
                type: 'post',
                dataType: 'json',
                data: {
                    messId: messid,
                    remark1: remark1,
                    fixedcardId1: fixedcardId1,
                    newRecordNode: newRecordNode,
                    ft1: ft1,
                    useManId: useManId
                },
                success: function () {

                }, error: function () {
                    window.location.href = "/tomymessage"
                }
            }
        )
    }

    function disAgreeApply() {
        $.ajax(
            {
                url: '/applyDisAgree',
                type: 'post',
                dataType: 'json',
                data: {
                    messId: messid,
                    remark1: remark1,
                    fixedcardId1: fixedcardId1,
                    newRecordNode: newRecordNode,
                    ft1: ft1,
                    useManId: useManId
                },
                success: function () {

                }, error: function () {
                    window.location.href = "/tomymessage"
                }
            }
        )

    }

    function read() {
        $.ajax(
            {
                url: '/read',
                type: 'post',
                dataType: 'json',
                data: {
                    messId: messid
                },
                success: function () {

                }, error: function () {
                    window.location.href = "/tomymessage"
                }
            }
        )
    }

    layui.use(['form', 'table', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery,
            element = layui.element,
            table = layui.table,
            laydate = layui.laydate;

        $("#agree1").click(function () {
            layer.confirm('是否同意?', {
                btn: ["确定", "取消"],
                offset: ['350px', '500px'],
                btn1: function (index) {
                    agreeApply();
                    layer.close(index)
                },
                btn2: function (index) {
                    layer.close(index)
                }

            })
        })
        $("#agree2").click(function () {
            layer.confirm('是否同意?', {
                btn: ["确定", "取消"],
                offset: ['350px', '500px'],
                btn1: function (index) {
                    agreeApply();
                    layer.close(index)
                },
                btn2: function (index) {
                    layer.close(index)
                }

            })
        })
        $("#agree3").click(function () {
            layer.confirm('是否同意?', {
                btn: ["确定", "取消"],
                offset: ['350px', '500px'],
                btn1: function (index) {
                    agreeApply();
                    layer.close(index)
                },
                btn2: function (index) {
                    layer.close(index)
                }

            })
        })
        $("#agree4").click(function () {
            layer.confirm('是否同意?', {
                btn: ["确定", "取消"],
                offset: ['350px', '500px'],
                btn1: function (index) {
                    agreeApply();
                    layer.close(index)
                },
                btn2: function (index) {
                    layer.close(index)
                }

            })
        })
        $("#agree5").click(function () {
            layer.confirm('是否不同意?', {
                btn: ["确定", "取消"],
                offset: ['350px', '500px'],
                btn1: function (index) {
                    disAgreeApply()
                    layer.close(index)
                },
                btn2: function (index) {
                    layer.close(index)
                }

            })
        })

        $("#agree6").click(function () {
            layer.confirm('是否不同意?', {
                btn: ["确定", "取消"],
                offset: ['350px', '500px'],
                btn1: function (index) {
                    disAgreeApply()
                    layer.close(index)
                },
                btn2: function (index) {
                    layer.close(index)
                }

            })
        })

        $("#agree7").click(function () {
            layer.confirm('是否不同意?', {
                btn: ["确定", "取消"],
                offset: ['350px', '500px'],
                btn1: function (index) {
                    disAgreeApply()
                    layer.close(index)
                },
                btn2: function (index) {
                    layer.close(index)
                }

            })
        })

        $("#agree8").click(function () {
            layer.confirm('是否不同意?', {
                btn: ["确定", "取消"],
                offset: ['350px', '500px'],
                btn1: function (index) {
                    disAgreeApply()
                    layer.close(index)
                },
                btn2: function (index) {
                    layer.close(index)
                }

            })
        })

        $("#read1").click(function () {
            read()
        })
        $("#read2").click(function () {
            read()
        })
        $("#read3").click(function () {
            read()
        })

    })


</script>
</body>
</html>