<!--
/*
* @Description
*侧边栏头部导航模板
* @Author 顾嘉晟
* @Date  2021-02-05
*/-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>固定资产管理导航页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../css/head-left-foot.css" type="text/css"/>
</head>
<body class="layui-layout-body"><!--超出部分隐藏overflow:hidden-->

<div class="head-left-layout">
    <div class="layui-layout layui-layout-admin">
        <!--顶部导航栏-->
        <div class="layui-header layui-bg-cyan">
            <!--顶部导航栏 左边logo-->
            <div class="layui-logo" style="background-color: #393D49;font-size:23px;">
                <i class="fa fa-laptop"></i> <span class="head-logo">固定资产管理</span>
            </div>
            <a>
                <div class="layuimini-tool"><i class="fa fa-outdent" data-side-fold="1"></i></div>
            </a>
            <!--顶部导航栏 左半部分-->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a>标签1</a></li>    <!--layui-nav-a的a有样式-->
                <li class="layui-nav-item"><a>标签2</a></li>
                <li class="layui-nav-item"><a>标签3</a></li>

                <li class="layui-nav-item">
                    <a>标签4</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">1</a></dd>
                        <dd><a href="">2</a></dd>
                        <dd><a href="">3</a></dd>
                        <dd><a href="">4</a></dd>
                    </dl>
                </li>
            </ul>
            <!--顶部导航栏 右半部分-->
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a>
                        <img src="../images/face/0.gif" class="layui-nav-img"/><span th:text="${u.userName}"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a data-id="01" data-url="/selectMyAccount"><span
                                class="layui-nav-item-span">基本资料</span></a></dd>
                        <dd><a>退出登录</a></dd>
                    </dl>
                </li>
            </ul>

        </div>
        <!--左侧导航栏-->
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">  <!--layui导航超出内容默认隐藏，添加滚动显示-->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item">
                        <a data-id="1"> <i class="fa fa-home"></i><span class="layui-nav-item-span">选项一</span></a>
                        <dl class="layui-nav-child">
                            <dd><a class="layui-nav-item-a" data-id="11" data-url="/touserlist"><i
                                    class="fa fa-home"></i><span class="layui-nav-item-span">用户管理</span></a></dd>
                            <dd><a class="layui-nav-item-a" data-id="12" data-url="/todepartmentlist"><i
                                    class="fa fa-home"></i><span class="layui-nav-item-span">部门管理</span></a></dd>
                            <dd><a class="layui-nav-item-a" data-id="13" data-url="/tofixedcardadd"><i
                                    class="fa fa-home"></i><span class="layui-nav-item-span">固定资产卡片--添加</span></a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a data-id="2"> <i class="fa fa-user-o"></i><span class="layui-nav-item-span">选项一</span></a>
                        <dl class="layui-nav-child">
                            <dd><a class="layui-nav-item-a" data-id="21" data-url="../login.html"><i
                                    class="fa fa-home"></i><span class="layui-nav-item-span">列表一</span></a></dd>
                            <dd><a class="layui-nav-item-a" data-id="22" data-url="../register.html"><i
                                    class="fa fa-home"></i><span class="layui-nav-item-span">列表二</span></a></dd>
                            <dd><a class="layui-nav-item-a" data-id="23" data-url="../register.html"><i
                                    class="fa fa-home"></i><span class="layui-nav-item-span">列表三</span></a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <!--页面标签-->

        <!--主体部分-->
        <div class="layui-body">
            <div class="layui-tab" lay-allowClose="true" lay-filter="myTab">
                <ul class="layui-tab-title">
                    <li id="mainindex" class="layui-tab-title-li layui-this">
                        <i class="fa fa-home" style="color: green"></i>
                        <span style="color: black;">主页</span>
                    </li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe id="iframeMain" th:src="@{/tologin}" width="100%" height="100%"
                                frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部固定区域 -->
        <div class="layui-footer layui-bg-cyan">
            底部固定区域
        </div>
    </div>
</div>
<script src="../layui.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" th:inline="javascript">
    layui.use(['element', 'layer', 'jquery'], function () {
        var element = layui.element,
            layer = layui.layer,
            $ = layui.jquery;

        /*缩进控件jq*/
        var isShow = true;//判断是否显示
        $('.layuimini-tool').click(function () {
            $('.layui-side-scroll span').each(function () {//遍历所有右侧span是否隐藏
                if ($(this).is(':hidden')) {
                    $(this).css('display', '');
                } else {
                    $(this).css('display', 'none');
                }
            });
            $('.layui-header .head-logo').each(function () {//同上
                if ($(this).is(':hidden')) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            })
            //判断isshow状态
            if (isShow) {
                $('.layui-layout-admin .layui-side').width(60);//设置左侧栏宽度
                $('.layui-side-scroll').width(60);
                $('.layui-nav-tree').width(60);
                $('.layui-layout-admin .layui-logo').width(60);//设置logo宽度
                $('.layui-footer').css('left', 60 + 'px');//把底部拉长
                $('.layuimini-tool').css('left', 80 + 'px');//向左移动缩进控件
                $('.layui-layout-left').css('left', 110 + 'px');
                $('.layui-nav-item span').css('display', 'none');//下拉列表中列表显示隐藏设置
                $('.layui-header .layui-nav-more').css('display', '');
                $('.layui-body').css('left', 60 + 'px');
                isShow = false;
            } else {
                $('.layui-layout-admin .layui-side').width(200);
                $('.layui-side-scroll').width(200);
                $('.layui-nav-tree').width(200);
                $('.layui-layout-admin .layui-logo').width(200);
                $('.layui-footer').css('left', 200 + 'px');
                $('.layuimini-tool').css('left', 225 + 'px');//移动缩进工具
                $('.layui-layout-left').css('left', 255 + 'px');
                $('.layui-nav-item span').css('display', '');
                $('.layui-body').css('left', 200 + 'px');
                isShow = true;
            }


        });

        $('.layui-nav-item-span').each(function () {//如果左侧导航栏隐藏鼠标悬浮在隐藏图标上提示文字
            // if($(this).css('display')=='none'){
            $(this.parentNode).mouseenter(function () {
                var spanText = $(this).text();
                //可以用$(this).text()和 $(this).val()获取span内的值但 val()获取的是当前的值如果span被隐藏获取到的会是空
                layer.tips(spanText, this, {time: 900});//提示框停留时间
            })
            // }
        })


        //tab选项卡jq
        element.on('tab(myTab)', function (data) {//每次切换tab监听,用于强调当前选项卡颜色
            // $('.layui-tab-title-li').each(function () {//遍历tab里的li
            //     $(this).click(function () {//点击选项卡变色
            $('.layui-tab-title-li').find('i').css('color', 'grey');
            $('.layui-tab-title-li').find('span').css('color', 'grey');
            $(this).find('i').css('color', 'green');//改用CSS的方法
            $(this).find('span').css('color', 'black');

            //     })
            // })
        })
        $('.layui-nav-child').find('a').each(function () {//点击左侧导航栏，添加选项卡

            $(this).click(function () {
                let title = $(this).text();//获取左侧导航抬头
                let id = $(this).attr('data-id');
                let dataUrl = $(this).attr('data-url');
                let iClass = $(this).find('i').attr('class');//获取左侧导航列表图标
                let spanText = $(this).find('span').text();//获取左侧导航列表的名字

                let iframelist = $(".iframelist");//所有tab下的子页面
                //判断tab栏是否存在标签
                let check = false;
                let checkId;//保存侧边导航id
                let tab = {
                    title: '<i class="' + iClass + '"></i><span >' + spanText + '</span>',
                    content: '<iframe class="iframelist" id=' + id + ' tab-id="' + id + '"  src="' + dataUrl + '" width="100%" height="130%"frameborder="0"></iframe>',
                    id: id
                };
                for (let i = 0; i < iframelist.length; i++) {
                    let iframeId = $(iframelist[i]).attr('tab-id');
                    if (iframeId == id) {
                        check = true;
                        checkid = iframeId;
                    }
                }
                if (check) {//如果已经存在就切换到该页面
                    element.tabChange('myTab', id);
                    var parent_body = window.parent;
                    var iframe1 = parent_body.document.getElementById(id);
                    iframe1.contentWindow.location.reload(true);
                } else {
                    element.tabAdd('myTab', tab);
                    $('.layui-tab-title').find('li').each(function () {
                        $(this).addClass("layui-tab-title-li");
                    })
                    element.tabChange('myTab', id);
                }
            })
        })
    });


</script><!--顶部，左侧导航，底部JS,不能通过外部引入，不然地址会出错-->

</body>
</html>