<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <form id="usersearch" method="post">
            <div class="layui-form layui-card-header " style="height:100%">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户名:</label>
                    <div class="layui-input-block">
                        <input type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">手机号:</label>
                    <div class="layui-input-block">
                        <input type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">角色:</label>
                    <div class="layui-input-block">
                        <select name="">
                            <option>--请选择--</option>
                            <option>系统管理员</option>
                            <option>固定资产管理员</option>
                            <option>固定资产主管会计</option>
                            <option>普通用户</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        </form>
        <div class="layui-card-body">
            <div style="padding-left: 20px">
                <button class="layui-btn layui-btn-danger">一键删除</button>
                <button class="layui-btn">添加</button>
            </div>
            <table id="userList" lay-filter="userTable"></table>
            <!--templet内容-->
            <script type="text/html" id="usermanagetool">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
    </div>
</div>


<script src="../layui.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" th:inline="javascript">
    layui.use(['form', 'element', 'table', 'layer', 'laypage'], function () {
        var form = layui.form,
            layer = layui.layer,
            table = layui.table,
            element = layui.element,
            laypage = layui.laypage;

        //    表格数据展示
        table.render(
            {
                elem: '#userList'//指定table
                , url: '/selectAllUserByCompanyId'
                , cols: [
                    [
                        {type: 'checkbox', fixed: 'left'}
                        , {field: 'userName', title: '用户名', fixed: 'left'}
                        , {
                        field: 'gender', title: '性别', edit: 'text',
                        templet: function (data) {
                            if (data.gender == 1) {
                                return "<span>男</span>"
                            } else {
                                return "<span>女</span>"
                            }
                        }
                    }
                        , {field: 'userPhone', title: '电话'}
                        , {field: 'userEmail', title: '邮箱', templet: '#leixing'}
                        , {field: 'departmentName', title: '部门', templet: '<div>{{d.department.departmentName}}</div>'}
                        , {field: 'jobId', title: '职位'}
                        , {
                        fixed: 'right', title: '操作', toolbar: '#usermanagetool'
                    }
                        // ,{field:'name',title:'用户名'}测试
                        // ,{field:'password',title:'密码'}
                    ]
                ]
                , request: {
                    pageName: 'page' //页码的参数名称，默认：page
                    , limitName: 'limit' //每页数据量的参数名，默认：limit
                }
                , limits: [10, 15, 20, 25, 50, 100]
                , limit: 10
                , page: true

            }
        )

    })

</script>
</body>
</html>