<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet " href="../css/public.css">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
</head>
<body>

<form class="layui-form" action="/addUser" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>工号:</label>
        <div class="layui-input-inline">
            <input type="text" id="workId" name="workId" placeholder="请输入工号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>用户名:</label>
        <div class="layui-input-inline">
            <input type="text" name="userName" placeholder="请输入用户名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>密码:</label>
        <div class="layui-input-inline">
            <input type="password" name="password" autocomplete="off" class="layui-input" value="123">
        </div>
        <div class="layui-form-mid layui-word-aux">默认密码:123</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>角色权限:</label>
        <div class="layui-input-inline">
            <select name="roleId">
                <option value=""></option>
                <option th:each="r:${roleList}"
                        th:value="${r.roleId}"
                        th:text="${r.roleName}"
                ></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>职位:</label>
        <div class="layui-input-inline">
            <select name="jobId">

                <option value=""></option>
                <option th:each="j:${jobList}"
                        th:value="${j.jobId}"
                        th:text="${j.jobName}"
                ></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>部门:</label>
        <div class="layui-input-inline">
            <select name="departmentId" lay-search>

                <option value=""></option>
                <option th:each="d:${departmentList}"
                        th:value="${d.departmentId}"
                        th:text="${d.departmentName}"
                ></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="useradd">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script src="../layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../jquery-3.4.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery;

        // 提交验证
        form.on('submit(useradd)', function (data) {
            data = data.field;
            //提交验证错误提示
            if (data.userName == '') {
                layer.msg('用户名不能为空', {
                    icon: 5,
                    anim: 6,//抖动效果
                    time: 1500//持续时间
                }, function () {
                });
                return false;
            }
            if (data.password == '') {
                layer.msg('密码不能为空', {
                    icon: 5,
                    shift: 6,//抖动效果
                    time: 1500//持续时间
                }, function () {
                });
                return false;
            }
            if (data.workId == '') {
                layer.msg('工号不能为空', {
                    icon: 5,
                    shift: 6,//抖动效果
                    time: 1500
                }, function () {
                });
                return false;
            }
            if (data.roleId == '') {
                layer.msg('角色权限不能为空', {
                    icon: 5,
                    shift: 6,//抖动效果
                    time: 1500
                }, function () {

                });
                return false;
            }
            if (data.jobId == '') {
                layer.msg('职位不能为空', {
                    icon: 5,
                    shift: 6,//抖动效果
                    time: 1500
                }, function () {

                });
                return false;
            }
            if (data.departmentId == '') {
                layer.msg('部门不能为空', {
                    icon: 5,
                    shift: 6,//抖动效果
                    time: 1500
                }, function () {

                });
                return false;
            }
            //获取当前iframe页面索引
            var currIframe = parent.layer.getFrameIndex(window.name);

            parent.layer.close(currIframe);
            window.parent.location.reload();
            return true;
        })


    })
</script>
</body>
</html>