<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
</head>
<body>
<form class="layui-form" action="/updateMyaccount" method="post">
    <div class="layui-card">
        <div class="layui-card-header">设置我的资料<span>(<span style="color: red;font-size: 12px">有红色星号标注的请联系系统管理员修改</span>)</span>
        </div>
        <div class="layui-card-body" pad15="">

            <div class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red">*</span>我的角色</label>
                    <div class="layui-input-inline">
                        <select name="roleId" readonly="readonly">
                            <option th:value="${user.roleId}" th:text="${rName}"></option>
                        </select>
                    </div>
                    <div class="layui-form-mid layui-word-aux"></div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red">*</span>工号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="workId" th:value="${user.workId}" class="layui-input"
                               readonly="readonly">
                    </div>
                    <div class="layui-form-mid layui-word-aux"></div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red">*</span>部门:</label>
                    <div class="layui-input-inline">
                        <select name="departmentId" lay-search>
                            <option th:value="${user.departmentId}" th:text="${dName}"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red">*</span>职位:</label>
                    <div class="layui-input-inline">
                        <select name="departmentId" lay-search>
                            <option th:value="${user.jobId}" th:text="${jName}"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userName" value="xx" class="layui-input"
                               th:value="${user.userName}">
                    </div>
                    <div class="layui-form-mid layui-word-aux"></div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red">*</span>账号名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="accountName" value="xx" readonly="" class="layui-input"
                               th:value="${user.accountName}">
                    </div>
                    <div class="layui-form-mid layui-word-aux"></div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                        <input type="text" lay-verify="required" name="password" value="123" autocomplete="off"
                               class="layui-input"
                               th:value="${user.password}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">重复密码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="password2" value="123" autocomplete="off" class="layui-input"
                               th:value="${user.password}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                        <div th:if="${user.gender}!=1">
                            <input type="radio" name="gender" value="1" title="男">
                            <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                                <div>男</div>
                            </div>
                            <input type="radio" name="gender" value="2" title="女" checked="">
                            <div class="layui-unselect layui-form-radio layui-form-radioed"><i
                                    class="layui-anim layui-icon"></i>
                                <div>女</div>
                            </div>
                        </div>
                        <div th:if="${user.gender}==1">
                            <input type="radio" name="gender" value="1" title="男" checked="">
                            <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                                <div>男</div>
                            </div>
                            <input type="radio" name="gender" value="2" title="女">
                            <div class="layui-unselect layui-form-radio layui-form-radioed"><i
                                    class="layui-anim layui-icon"></i>
                                <div>女</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">头像</label>-->
                <!--<div class="layui-upload">-->
                <!--<button type="button" class="layui-btn layui-btn-normal" id="test8">选择文件</button>-->

                <!--</div>-->
                <!--</div>-->

                <div class="layui-form-item">
                    <label class="layui-form-label">手机</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userPhone" th:value="${user.userPhone}"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userEmail" th:value="${user.userEmail}"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <!--<div class="layui-form-item layui-form-text">-->
                <!--<label class="layui-form-label">备注</label>-->
                <!--<div class="layui-input-block">-->
                <!--<textarea name="remarks" placeholder="请输入内容" class="layui-textarea"></textarea>-->
                <!--</div>-->
                <!--</div>-->
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button id="myaccountedit" class="layui-btn" lay-submit="" lay-filter="myaccountedit"
                                onclick="return confirm('是否保存修改?')">确认修改
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<script src="../layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../jquery-3.4.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    layui.use(['form', 'element', 'jquery', 'upload'], function () {
        var form = layui.form,
            element = layui.element,
            $ = layui.jquery,
            upload = layui.upload;

        //选完文件后不自动上传
        upload.render({
            elem: '#test8'
            , url: 'https://httpbin.org/post' //改成您自己的上传接口
            , auto: false
            //,multiple: true
            , bindAction: '#test100'
            , done: function (res) {
                layer.msg('上传成功');
                console.log(res)
            }
        });

        form.on('submit(myaccountedit)', function (data) {
            data = data.field;
            if (data.password != data.password2) {

                layer.msg('两次密码输入不正确', {
                    icon: 5,
                    shift: 6,//抖动效果
                    time: 1000
                });
                return false;
            }
            return true;
        })
        var oldpassword = [[${user.password}]];
        var newpassword = [[${loginUser.password}]];

        if (oldpassword != newpassword) {

            window.parent.layer.alert('当前账号密码已修改请重新登录', {icon: 6}, function () {//自定义关闭时间跳回登录页面
                window.parent.location.href = "/tologin";
            })

        }
    })
</script>
</body>
</html>