<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjs.fixedassets.mapper.CheckRecordStatusMapper">
    <resultMap id="BaseResultMap" type="com.gjs.fixedassets.entity.CheckRecordStatus">
        <!--@mbg.generated-->
        <!--@Table checkrecordstatus-->
        <id column="check_record_status_id" jdbcType="INTEGER" property="checkRecordStatusId"/>
        <result column="check_type_id" jdbcType="INTEGER" property="checkTypeId"/>
        <result column="check_node_id" jdbcType="INTEGER" property="checkNodeId"/>
        <result column="check_record_id" jdbcType="INTEGER" property="checkRecordId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="check_man" jdbcType="INTEGER" property="checkMan"/>
        <result column="check_time" jdbcType="DATE" property="checkTime"/>


    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        check_record_status_id, check_type_id, check_node_id, check_record_id, remark, check_man,
        check_time
    </sql>
    <insert parameterType="CheckRecordStatus" id="insert" useGeneratedKeys="true" keyProperty="checkRecordStatusId"
            keyColumn="check_record_status_id">
        INSERT INTO `fixedassets`.`checkrecordstatus`(`check_type_id`, `check_node_id`, `check_record_id`,
        `remark`, `check_man`, `check_time`)
        VALUES ( #{checkTypeId,jdbcType=INTEGER},
        #{checkNodeId,jdbcType=INTEGER},
        #{checkRecordId,jdbcType=INTEGER},
        #{remark,jdbcType=VARCHAR},
        #{checkMan,jdbcType=INTEGER},
        now());


    </insert>
    <select id="selectAllNodeByRecordId" resultMap="BaseResultMap">
        select *
        from checkrecordstatus
        left join checknode on checkrecordstatus.check_node_id=checknode.check_node_id
        left join mymessage on mymessage.message_content = checkrecordstatus.check_record_id
        where checkrecordstatus.check_type_id=1 and checkrecordstatus.check_record_id=#{checkRecordId,jdbcType=INTEGER}
    </select>
    <select id="selectNewNodeByRecordId" resultMap="BaseResultMap">
        select *
        from checkrecordstatus
        left join checknode on checkrecordstatus.check_node_id=checknode.check_node_id
        left join mymessage on mymessage.message_content = checkrecordstatus.check_record_id
        where checkrecordstatus.check_type_id=1 and checkrecordstatus.check_record_id=#{checkRecordId,jdbcType=INTEGER}
        ORDER BY checkrecordstatus.check_time DESC
        LIMIT 0,1
    </select>

</mapper>