<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjs.fixedassets.mapper.FixedTransferMapper">
    <resultMap id="BaseResultMap" type="com.gjs.fixedassets.entity.FixedTransfer">
        <!--@mbg.generated-->
        <!--@Table fixedtransfer-->
        <id column="fixed_transfer_id" jdbcType="INTEGER" property="fixedTransferId"/>
        <result column="fixed_transfer_id2" jdbcType="INTEGER" property="fixedTransferId2"/>
        <result column="fixedcard_id" jdbcType="INTEGER" property="fixedcardId"/>
        <result column="check_type_id" jdbcType="INTEGER" property="checkTypeId"/>
        <result column="is_pass" jdbcType="INTEGER" property="isPass"/>
        <result column="fixed_transfer_time" jdbcType="VARCHAR" property="fixedTransferTime"/>
        <result column="transfer_remark" jdbcType="VARCHAR" property="transferRemark"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="departmentManager" jdbcType="VARCHAR" property="departmentManager"/>
        <result column="personCharge" jdbcType="VARCHAR" property="personCharge"/>
        <result column="department_name" jdbcType="VARCHAR" property="departmentName"/>
        <result column="use_position" jdbcType="VARCHAR" property="usePosition"/>
        <result column="use_person" jdbcType="INTEGER" property="usePerson"/>
        <result column="useMan" jdbcType="VARCHAR" property="useMan"/>
        <result column="useMan_id" jdbcType="VARCHAR" property="useManId"/>
        <result column="lastNode" jdbcType="INTEGER" property="lastNode"/>
        <association property="receiver" javaType="com.gjs.fixedassets.entity.User">
            <id column="user_id" jdbcType="INTEGER" property="userId"/>
            <result column="user_name" jdbcType="VARCHAR" property="userName"/>
            <result column="password" jdbcType="VARCHAR" property="password"/>
            <result column="gender" jdbcType="CHAR" property="gender"/>
            <result column="user_face" jdbcType="VARCHAR" property="userFace"/>
            <result column="user_phone" jdbcType="INTEGER" property="userPhone"/>
            <result column="user_email" jdbcType="VARCHAR" property="userEmail"/>
            <result column="user_online" jdbcType="CHAR" property="userOnline"/>
            <result column="department_id" jdbcType="INTEGER" property="departmentId"/>
            <result column="job_id" jdbcType="INTEGER" property="jobId"/>
            <result column="role_id" jdbcType="INTEGER" property="roleId"/>
            <result column="is_status" jdbcType="CHAR" property="isStatus"/>
            <result column="resgistertime" jdbcType="TIMESTAMP" property="resgistertime"/>
            <result column="company_id" jdbcType="INTEGER" property="companyId"/>
            <result column="work_id" jdbcType="VARCHAR" property="workId"/>
        </association>
        <association property="fixedcard" javaType="com.gjs.fixedassets.entity.Fixedcard">
            <id column="fixedcard_id" jdbcType="INTEGER" property="fixedcardId"/>
            <result column="fixed_id" jdbcType="VARCHAR" property="fixedId"/>
            <result column="fixed_name" jdbcType="VARCHAR" property="fixedName"/>
            <result column="fixedtype_id" jdbcType="INTEGER" property="fixedtypeId"/>
            <result column="acquisition_date" jdbcType="DATE" property="acquisitionDate"/>
            <result column="working_life" jdbcType="INTEGER" property="workingLife"/>
            <result column="increment_id" jdbcType="INTEGER" property="incrementId"/>
            <result column="fixed_scale" jdbcType="VARCHAR" property="fixedScale"/>
            <result column="use_status" jdbcType="INTEGER" property="useStatus"/>
            <result column="accrued_month" jdbcType="INTEGER" property="accruedMonth"/>
            <result column="measure_unit" jdbcType="INTEGER" property="measureUnit"/>
            <result column="account" jdbcType="DOUBLE" property="account"/>
            <result column="total_amount" jdbcType="DOUBLE" property="totalAmount"/>
            <result column="unit_price" jdbcType="DOUBLE" property="unitPrice"/>
            <result column="depreciation_method_id" jdbcType="INTEGER" property="depreciationMethodId"/>
            <result column="current_location" jdbcType="VARCHAR" property="currentLocation"/>
            <result column="department_id" jdbcType="INTEGER" property="departmentId"/>
            <result column="person_charge" jdbcType="INTEGER" property="personCharge"/>
            <result column="fixed_status" jdbcType="INTEGER" property="fixedStatus"/>
            <result column="company_id" jdbcType="INTEGER" property="companyId"/>
            <result column="entry_date" jdbcType="DATE" property="entryDate"/>
            <result column="start_working_date" jdbcType="DATE" property="startWorkingDate"/>
            <result column="estimated_residual_value_rate" jdbcType="DOUBLE" property="estimatedResidualValueRate"/>
            <result column=" estimated_residual_value" jdbcType="DOUBLE" property="estimatedResidualValue"/>
            <result column="accumulated_depreciation" jdbcType="DOUBLE" property="accumulatedDepreciation"/>
            <result column="monthly_depreciation_rate" jdbcType="DOUBLE" property="monthlyDepreciationRate"/>
            <result column="monthly_depreciation" jdbcType="DOUBLE" property="monthlyDepreciation"/>
            <result column="net_worth" jdbcType="DOUBLE" property="netWorth"/>
            <result column="supplier" jdbcType="VARCHAR" property="supplier"/>
        </association>
        <association property="checkRecordStatus" javaType="com.gjs.fixedassets.entity.CheckRecordStatus">
            <id column="check_record_status_id" jdbcType="INTEGER" property="checkRecordStatusId"/>
            <result column="check_type_id" jdbcType="INTEGER" property="checkTypeId"/>
            <result column="check_node_id" jdbcType="INTEGER" property="checkNodeId"/>
            <result column="check_record_id" jdbcType="INTEGER" property="checkRecordId"/>
            <result column="remark" jdbcType="VARCHAR" property="remark"/>
            <result column="check_man" jdbcType="INTEGER" property="checkMan"/>
            <result column="check_time" jdbcType="DATE" property="checkTime"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        fixed_transfer_id, fixed_transfer_id2, fixedcard_id, check_type_id, is_pass,
        fixed_transfer_time,transfer_remark,use_person,use_position

    </sql>
    <select id="selectFixedTransferByCompanyIdPage" resultType="com.gjs.fixedassets.entity.Fixedcard">
        select *
        from fixedcard
        where fixedcard.company_id = #{companyId,jdbcType=INTEGER} and fixedcard.use_status=1
        <if test="fixedId != null and fixedId != ''">and fixedcard.fixed_id=#{fixedId,jdbcType=VARCHAR}</if>
        <if test="fixedName != null and fixedName != ''">and fixedcard.fixed_name LIKE
            CONCAT('%',#{fixedName,jdbcType=VARCHAR},'%')
        </if>
        LIMIT #{page,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
    </select>
    <select id="selectFixedTransferCount" resultType="com.gjs.fixedassets.entity.Fixedcard">
        select *
        from fixedcard
        where fixedcard.company_id = #{companyId,jdbcType=INTEGER} and fixedcard.use_status=1
        <if test="fixedId != null and fixedId != ''">and fixedcard.fixed_id=#{fixedId,jdbcType=VARCHAR}</if>
        <if test="fixedName != null and fixedName != ''">and fixedcard.fixed_name=#{fixedName,jdbcType=VARCHAR}</if>
    </select>
    <select id="selectFixedTransByCidFid" resultMap="BaseResultMap">
        select
        fixedcard_id,fixed_id,fixed_name,acquisition_date,fixedtype_id,person_charge,fixed_scale,supplier,user.user_name,department_name,dm.user_name
        AS departmentManager,pc.user_name AS personCharge
        from fixedcard
        LEFT JOIN user ON fixedcard.person_charge=user.user_id
        LEFT JOIN department ON fixedcard.department_id=department.department_id
        LEFT JOIN user dm ON department.department_manager=dm.user_id
        LEFT JOIN user pc ON fixedcard.person_charge = pc.user_id
        where fixedcard.company_id=#{companyId,jdbcType=INTEGER} and
        fixedcard.fixedcard_id=#{fixedcardId,jdbcType=INTEGER}
    </select>
    <select id="selectFixedTransByCompanyId" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        fixedtransfer
        WHERE
        company_id = #{companyId,jdbcType=INTEGER}
        ORDER BY fixedtransfer.fixed_transfer_id2 DESC


    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="fixedTransferId" keyColumn="fixed_transfer_id"
            parameterType="FixedTransfer">
        INSERT INTO `fixedassets`.`fixedtransfer`( `fixed_transfer_id2`, `fixedcard_id`, `check_type_id`,
        `is_pass`, `fixed_transfer_time`, `transfer_remark`, `use_person`, `use_position`, `company_id`)
        VALUES ( #{fixedTransferId2,jdbcType=INTEGER},
        #{fixedcardId,jdbcType=INTEGER},
        1,
        0,
        #{fixedTransferTime,jdbcType=VARCHAR} ,
        #{transferRemark,jdbcType=VARCHAR},
        #{usePerson,jdbcType=INTEGER},
        #{usePosition,jdbcType=VARCHAR},
        #{companyId,jdbcType=INTEGER});

    </insert>
    <select id="selectFixedTransById" resultMap="BaseResultMap">
        SELECT *,dm.user_name as departmentManager,pc.user_name AS personCharge,app.user_name AS useMan,app.user_id AS
        useMan_id
        FROM fixedtransfer
        left join fixedcard on fixedcard.fixedcard_id = fixedtransfer.fixedcard_id
        LEFT JOIN department ON fixedcard.department_id=department.department_id
        left join user dm on dm.user_id = department.department_manager
        LEFT JOIN user pc ON fixedcard.person_charge = pc.user_id
        left join user app ON app.user_id = fixedtransfer.use_person
        where fixed_transfer_id=#{fixedtransferId,jdbcType=INTEGER} ;
    </select>
    <select id="selectMyTransferList" resultMap="BaseResultMap">
        select *
        from fixedtransfer
        left join checkrecordstatus on fixedtransfer.fixed_transfer_id = checkrecordstatus.check_record_id
        left join fixedcard on fixedcard.fixedcard_id=fixedtransfer.fixedcard_id
        where fixedtransfer.use_person = #{usePerson,jdbcType=INTEGER} and checkrecordstatus.check_node_id=8

    </select>
    <select id="selectMyTransferApplyList" resultMap="BaseResultMap">
        select *,MAX(checkrecordstatus.check_node_id)AS lastNode
        from fixedtransfer
        left join checkrecordstatus on fixedtransfer.fixed_transfer_id = checkrecordstatus.check_record_id
        left join checknode on checknode.check_node_id=checkrecordstatus.check_node_id
        left join fixedcard on fixedcard.fixedcard_id=fixedtransfer.fixedcard_id
        where fixedtransfer.use_person = #{usePerson,jdbcType=INTEGER}
        GROUP BY fixedtransfer.fixed_transfer_id2
    </select>


</mapper>