<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjs.fixedassets.mapper.FixedcardMapper">
    <resultMap id="BaseResultMap" type="com.gjs.fixedassets.entity.Fixedcard">
        <!--@mbg.generated-->
        <!--@Table fixedcard-->
        <id column="fixedcard_id" jdbcType="INTEGER" property="fixedcardId"/>
        <result column="fixed_id" jdbcType="VARCHAR" property="fixedId"/>
        <result column="fixed_name" jdbcType="VARCHAR" property="fixedName"/>
        <result column="fixedtype_id" jdbcType="INTEGER" property="fixedtypeId"/>
        <result column="acquisition_date" jdbcType="DATE" property="acquisitionDate"/>
        <result column="working_life" jdbcType="INTEGER" property="workingLife"/>
        <result column="increment_id" jdbcType="INTEGER" property="incrementId"/>
        <result column="fixed_scale" jdbcType="VARCHAR" property="fixedScale"/>
        <result column="use_status" jdbcType="INTEGER" property="useStatus"/>
        <result column="accrued_month" jdbcType="INTEGER" property="accruedMonth"/>
        <result column="measure_unit" jdbcType="INTEGER" property="measureUnit"/>
        <result column="account" jdbcType="DOUBLE" property="account"/>
        <result column="total_amount" jdbcType="DOUBLE" property="totalAmount"/>
        <result column="unit_price" jdbcType="DOUBLE" property="unitPrice"/>
        <result column="depreciation_method_id" jdbcType="INTEGER" property="depreciationMethodId"/>
        <result column="current_location" jdbcType="VARCHAR" property="currentLocation"/>
        <result column="department_id" jdbcType="INTEGER" property="departmentId"/>
        <result column="person_charge" jdbcType="INTEGER" property="personCharge"/>
        <result column="fixed_status" jdbcType="INTEGER" property="fixedStatus"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="entry_date" jdbcType="DATE" property="entryDate"/>
        <result column="start_working_date" jdbcType="DATE" property="startWorkingDate"/>
        <result column="estimated_residual_value_rate" jdbcType="DOUBLE" property="estimatedResidualValueRate"/>
        <result column=" estimated_residual_value" jdbcType="DOUBLE" property="estimatedResidualValue"/>
        <result column="accumulated_depreciation" jdbcType="DOUBLE" property="accumulatedDepreciation"/>
        <result column="monthly_depreciation_rate" jdbcType="DOUBLE" property="monthlyDepreciationRate"/>
        <result column="monthly_depreciation" jdbcType="DOUBLE" property="monthlyDepreciation"/>
        <result column="net_worth" jdbcType="DOUBLE" property="netWorth"/>
        <result column="supplier" jdbcType="VARCHAR" property="supplier"/>
        <association property="company" javaType="com.gjs.fixedassets.entity.Company">
            <id column="company_id" jdbcType="INTEGER" property="companyId"/>
            <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
            <result column="company_industry_id" jdbcType="INTEGER" property="companyIndustryId"/>
            <result column="company_nature_id" jdbcType="INTEGER" property="companyNatureId"/>
            <result column="company_email" jdbcType="VARCHAR" property="companyEmail"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        fixedcard_id, fixed_id, fixed_name, fixedtype_id, acquisition_date, working_life,
        increment_id, fixed_scale, use_status, accrued_month, measure_unit, account, total_amount,
        unit_price, depreciation_method_id, current_location, department_id, person_charge,
        fixed_status, company_id, entry_date, start_working_date, estimated_residual_value_rate,
        ` estimated_residual_value`, accumulated_depreciation, monthly_depreciation_rate,
        monthly_depreciation, net_worth,supplier
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from fixedcard
        where fixedcard_id = #{fixedcardId,jdbcType=INTEGER}
    </select>
    <insert id="insertFixedAsssetCard" parameterType="Fixedcard">
        INSERT INTO `fixedassets`.`fixedcard`
        ( `fixed_id`,
        `fixed_name`,
        `fixedtype_id`,
        `acquisition_date`,
        `working_life`,
        `increment_id`,
        `fixed_scale`,
        `use_status`,
        `accrued_month`,
        `measure_unit`,
        `account`,
        `total_amount`,
        `unit_price`,
        `depreciation_method_id`,
        `current_location`,
        `department_id`,
        `person_charge`,
        `fixed_status`,
        `company_id`,
        `entry_date`,
        `start_working_date`,
        ` estimated_residual_value`,
        `accumulated_depreciation`,
        `monthly_depreciation_rate`,
        `monthly_depreciation`,
        `net_worth`,
        `estimated_residual_value_rate`,
        `supplier`)
        VALUES (#{fixedId,jdbcType=VARCHAR},
        #{fixedName,jdbcType=VARCHAR},
        #{fixedtypeId,jdbcType=INTEGER},
        #{acquisitionDate,jdbcType=DATE},
        #{workingLife,jdbcType=INTEGER},
        #{incrementId,jdbcType=INTEGER},
        #{fixedScale,jdbcType=VARCHAR},
        #{useStatus,jdbcType=INTEGER},
        #{accruedMonth,jdbcType=INTEGER},
        #{measureUnit,jdbcType=INTEGER},
        #{account,jdbcType=DOUBLE},
        #{totalAmount,jdbcType=DOUBLE},
        #{unitPrice,jdbcType=DOUBLE},
        #{departmentId,jdbcType=INTEGER},
        #{currentLocation,jdbcType=VARCHAR},
        #{departmentId,jdbcType=INTEGER},
        #{personCharge,jdbcType=INTEGER},
        #{fixedStatus,jdbcType=INTEGER},
        #{companyId,jdbcType=INTEGER},
        #{entryDate,jdbcType=DATE},
        #{startWorkingDate,jdbcType=DATE},
        #{estimatedResidualValue,jdbcType=DOUBLE},
        #{accumulatedDepreciation,jdbcType=DOUBLE},
        #{monthlyDepreciationRate,jdbcType=DOUBLE},
        #{monthlyDepreciation,jdbcType=DOUBLE},
        #{netWorth,jdbcType=DOUBLE},
        #{estimatedResidualValueRate,jdbcType=DOUBLE},
        #{supplier,jdbcType=VARCHAR})


    </insert>
    <select id="selectFixedAsssetByCompany" resultMap="BaseResultMap">
        select *
        from fixedcard
        where company_id=#{companyId,jdbcType=INTEGER}
    </select>
    <select id="selectFixedIdList" resultType="java.lang.String">
        select fixed_id
        from fixedcard
        where company_id=#{companyId,jdbcType=INTEGER}
    </select>
    <select id="selectFixedByCompanyIdPage" resultMap="BaseResultMap">
        select *
        from fixedcard
        where fixedcard.company_id = #{companyId,jdbcType=INTEGER} and fixedcard.use_status !=3
        <if test="fixedId != null and fixedId != ''">and fixedcard.fixed_id=#{fixedId,jdbcType=VARCHAR}</if>
        <if test="fixedName != null and fixedName != ''">and fixedcard.fixed_name LIKE
            CONCAT('%',#{fixedName,jdbcType=VARCHAR},'%')
        </if>
        <if test="useStatus != null and useStatus != ''">and fixedcard.use_status = #{useStatus,jdbcType=INTEGER}</if>
        ORDER BY fixedcard.use_status
        LIMIT #{page,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
    </select>
    <select id="selectFixedCount" resultMap="BaseResultMap">
        select *
        from fixedcard
        where fixedcard.company_id = #{companyId,jdbcType=INTEGER} and fixedcard.use_status !=3
        <if test="fixedId != null and fixedId != ''">and fixedcard.fixed_id=#{fixedId,jdbcType=VARCHAR}</if>
        <if test="fixedName != null and fixedName != ''">and fixedcard.fixed_name=#{fixedName,jdbcType=VARCHAR}</if>
        <if test="useStatus != null and useStatus !=''">and fixedcard.use_status = #{useStatus,jdbcType=INTEGER}</if>
    </select>
    <select id="selectFixedByFixedCardId" resultMap="BaseResultMap">
        SELECT *
        FROM fixedcard
        LEFT JOIN company ON fixedcard.company_id=company.company_id
        where fixedcard_id=#{fixedCardId,jdbcType=INTEGER}
    </select>
    <update id="updateFixedByFixedCardId" parameterType="Fixedcard">
        UPDATE `fixedassets`.`fixedcard`
        SET `fixed_id` = #{fixedId,jdbcType=VARCHAR},
        `fixed_name` = #{fixedName,jdbcType=VARCHAR},
        `fixedtype_id` = #{fixedtypeId,jdbcType=INTEGER},
        `acquisition_date` = #{acquisitionDate,jdbcType=TIMESTAMP},
        `working_life` = #{workingLife,jdbcType=INTEGER},
        `increment_id` = #{incrementId,jdbcType=INTEGER},
        `fixed_scale` = #{fixedScale,jdbcType=VARCHAR},
        `use_status` = #{useStatus,jdbcType=INTEGER},
        `accrued_month` = #{accruedMonth,jdbcType=INTEGER},
        `measure_unit` = #{measureUnit,jdbcType=INTEGER},
        `account` = #{account,jdbcType=DOUBLE},
        `total_amount` = #{totalAmount,jdbcType=DOUBLE},
        `unit_price` = #{unitPrice,jdbcType=DOUBLE},
        `depreciation_method_id` = #{depreciationMethodId,jdbcType=INTEGER},
        `current_location` = #{currentLocation,jdbcType=VARCHAR},
        `department_id` = #{departmentId,jdbcType=INTEGER},
        `person_charge` = #{personCharge,jdbcType=INTEGER},
        `fixed_status` = #{fixedStatus,jdbcType=INTEGER},
        `company_id` = #{companyId,jdbcType=INTEGER},
        `entry_date` = #{entryDate,jdbcType=TIMESTAMP},
        `start_working_date` = #{startWorkingDate,jdbcType=TIMESTAMP},
        `estimated_residual_value_rate` = #{estimatedResidualValueRate,jdbcType=DOUBLE},
        ` estimated_residual_value` = #{estimatedResidualValue,jdbcType=DOUBLE},
        `accumulated_depreciation` = #{accumulatedDepreciation,jdbcType=DOUBLE},
        `monthly_depreciation_rate` = #{monthlyDepreciationRate,jdbcType=DOUBLE},
        `monthly_depreciation` = #{monthlyDepreciation,jdbcType=DOUBLE},
        `net_worth` = #{netWorth,jdbcType=DOUBLE},
        `supplier` = #{supplier,jdbcType=VARCHAR}
        WHERE
        `fixedcard_id` = #{fixedcardId,jdbcType=INTEGER};
    </update>

</mapper>