<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjs.fixedassets.mapper.TestuserMapper">
    <resultMap id="BaseResultMap" type="com.gjs.fixedassets.entity.TestUser">
        <!--@mbg.generated-->
        <!--@Table testuser-->
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        `name`, `password`
    </sql>
    <select id="findAll" resultMap="BaseResultMap">
      SELECT *
      FROM testuser

  </select>
</mapper>