<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjs.fixedassets.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.gjs.fixedassets.entity.User">
        <!--@mbg.generated-->
        <!--@Table `user`-->
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="gender" jdbcType="CHAR" property="gender"/>
        <result column="user_face" jdbcType="VARCHAR" property="userFace"/>
        <result column="user_phone" jdbcType="INTEGER" property="userPhone"/>
        <result column="user_email" jdbcType="VARCHAR" property="userEmail"/>
        <result column="user_online" jdbcType="CHAR" property="userOnline"/>
        <result column="department_id" jdbcType="INTEGER" property="departmentId"/>
        <result column="job_id" jdbcType="INTEGER" property="jobId"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="is_status" jdbcType="CHAR" property="isStatus"/>
        <result column="resgistertime" jdbcType="TIMESTAMP" property="resgistertime"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        user_id, user_name, `password`, gender, user_face, user_phone, user_email, user_online,
        department_id, job_id, role_id, is_status, resgistertime, company_id
    </sql>
    <select id="selectByCompanyId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select *
        from `user`
        where company_id = #{companyId,jdbcType=INTEGER}
    </select>

</mapper>