<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjs.fixedassets.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.gjs.fixedassets.entity.User">
        <!--@mbg.generated-->
        <!--@Table `user`-->
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="gender" jdbcType="CHAR" property="gender"/>
        <result column="user_face" jdbcType="VARCHAR" property="userFace"/>
        <result column="user_phone" jdbcType="INTEGER" property="userPhone"/>
        <result column="user_email" jdbcType="VARCHAR" property="userEmail"/>
        <result column="user_online" jdbcType="CHAR" property="userOnline"/>
        <result column="department_id" jdbcType="INTEGER" property="departmentId"/>
        <result column="job_id" jdbcType="INTEGER" property="jobId"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="is_status" jdbcType="CHAR" property="isStatus"/>
        <result column="resgistertime" jdbcType="TIMESTAMP" property="resgistertime"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="work_id" jdbcType="VARCHAR" property="workId"/>
        <result column="account_name" jdbcType="VARCHAR" property="accountName"></result>
        <association property="department" javaType="com.gjs.fixedassets.entity.Department">
            <id column="department_id" jdbcType="INTEGER" property="departmentId"/>
            <result column="department_name" jdbcType="VARCHAR" property="departmentName"/>
            <result column="company_id" jdbcType="INTEGER" property="companyId"/>
            <result column="department_manager" jdbcType="INTEGER" property="departmentManager"/>
        </association>

        <association property="job" javaType="com.gjs.fixedassets.entity.Job">
            <id column="job_id" jdbcType="INTEGER" property="jobId"/>
            <result column="job_name" jdbcType="VARCHAR" property="jobName"/>
            <result column="department_id" jdbcType="INTEGER" property="departmentId"/>
            <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        </association>

        <association property="company" javaType="com.gjs.fixedassets.entity.Company">
            <id column="company_id" jdbcType="INTEGER" property="companyId"/>
            <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
            <result column="company_industry_id" jdbcType="INTEGER" property="companyIndustryId"/>
            <result column="company_nature_id" jdbcType="INTEGER" property="companyNatureId"/>
            <result column="company_email" jdbcType="VARCHAR" property="companyEmail"/>
        </association>

        <association property="role" javaType="com.gjs.fixedassets.entity.Role">
            <id column="role_id" jdbcType="INTEGER" property="roleId"/>
            <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        </association>

    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        user_id, user_name, `password`, gender, user_face, user_phone, user_email, user_online,
        department_id, job_id, role_id, is_status, resgistertime, company_id
    </sql>
    <select id="selectByCompanyId" resultMap="BaseResultMap">
        SELECT *
        FROM `user` LEFT JOIN department ON user.department_id=department.department_id
        LEFT JOIN job ON user.job_id=job.job_id
        LEFT JOIN role ON user.role_id =role.role_id
        where `user`.company_id=#{param1,jdbcType=INTEGER}
        <if test="param4 != null and param4 != ''">and user.user_name LIKE CONCAT('%',#{param4,jdbcType=VARCHAR},'%')
        </if>
        <if test="param5 != null and param5 != ''">and user.user_phone = #{param5,jdbcType=INTEGER}</if>
        <if test="param6 != null and param6 != ''">and user.department_id = #{param6,jdbcType=INTEGER}</if>
        <if test="param7 != null and param7 != ''">and user.role_id = #{param7,jdbcType=INTEGER}</if>
        <if test="param8 != null and param8 != ''">and user.is_status = #{param8,jdbcType=INTEGER}</if>
        <if test="param9 != null and param9 != ''">and user.work_id= #{param9,jdbcType=VARCHAR}</if>
        ORDER BY user.is_status ASC
        LIMIT #{param2,jdbcType=INTEGER},#{param3,jdbcType=INTEGER}
    </select>

    <select id="selectAllUserCount" resultMap="BaseResultMap">
        SELECT *
        FROM `user` LEFT JOIN department ON user.department_id=department.department_id
        LEFT JOIN job ON user.job_id=job.job_id
        LEFT JOIN role ON user.role_id =role.role_id
        where `user`.company_id=#{param1,jdbcType=INTEGER}
        <if test="param2 != null and param2 != ''">and user.user_name LIKE CONCAT('%',#{param2,jdbcType=VARCHAR},'%')
        </if>
        <if test="param3 != null and param3 != ''">and user.user_phone = #{param3,jdbcType=INTEGER}</if>
        <if test="param4 != null and param4 != ''">and user.department_id = #{param4,jdbcType=INTEGER}</if>
        <if test="param5 != null and param5 != ''">and user.role_id = #{param5,jdbcType=INTEGER}</if>
        <if test="param6 != null and param6 != ''">and user.is_status = #{param6,jdbcType=INTEGER}</if>
        <if test="param7 != null and param7 != ''">and user.work_id = #{param7,jdbcType=VARCHAR}</if>
    </select>
    <select id="selectUserByUserId" resultMap="BaseResultMap">
        select *
        from user
        left join company on company.company_id=user.company_id
        where user_id=#{userId,jdbcType=INTEGER}
    </select>
    <select id="selectUserByNamePSW" resultMap="BaseResultMap">
        select *
        FROM user
        where account_name=#{param1,jdbcType=VARCHAR} AND password=#{param2,jdbcType=VARCHAR}
    </select>
    <insert id="addUser" parameterType="User">
        INSERT INTO `fixedassets`.`user`(`work_id`, `user_name`, `password`, `gender`, `user_face`, `user_phone`,
        `user_email`, `user_online`,
        `department_id`, `job_id`, `role_id`, `is_status`, `resgistertime`, `company_id`,account_name)
        VALUES ( #{workId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        #{gender,jdbcType=VARCHAR}, #{userFace,jdbcType=VARCHAR}, #{userPhone,jdbcType=INTEGER},
        #{userEmail,jdbcType=VARCHAR},#{userOnline,jdbcType=VARCHAR}, #{departmentId,jdbcType=INTEGER},
        #{jobId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 1,now(), 1,#{accountName,jdbcType=VARCHAR});
    </insert>
    <update id="updateUser" parameterType="User">
        UPDATE `fixedassets`.`user`
        SET `work_id` = #{workId,jdbcType=VARCHAR},
        `user_name` = #{userName,jdbcType=VARCHAR},
        `password` = #{password,jdbcType=VARCHAR},
        `gender` = #{gender,jdbcType=VARCHAR},
        `user_face` = #{userFace,jdbcType=VARCHAR},
        `user_phone` = #{userPhone,jdbcType=INTEGER},
        `user_email` = #{userEmail,jdbcType=VARCHAR},
        `user_online` = #{userOnline,jdbcType=VARCHAR},
        `department_id` = #{departmentId,jdbcType=INTEGER},
        `job_id` = #{jobId,jdbcType=INTEGER},
        `role_id` = #{roleId,jdbcType=INTEGER},
        `is_status` = #{isStatus,jdbcType=INTEGER},
        account_name = #{accountName,jdbcType=VARCHAR}

        WHERE
        `user_id` = #{userId,jdbcType=INTEGER};
    </update>
    <select id="selectAllUserByCompanyId" resultMap="BaseResultMap">
        select user_name,work_id,user_id
        from user
        where company_id=#{companyId,jdbcType=INTEGER}
    </select>
    <select id="selectAllAccountName" resultType="java.lang.String">
        select account_name
        from user
        where company_id=#{companyId,jdbcType=INTEGER}
    </select>
</mapper>